body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
h1{
    color: white;
}
 
.clock{
    width:300px;
    height:300px;
    background-color: orange;
    border-radius: 50%;
    border: 5px white solid;
    position: relative;
}
 
.clock::before{
    content: '';
    width:20px;
    height: 20px;
    background-color:white;
    position: absolute;
    border-radius: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
 
.hand{
    background-color: white;
    position: absolute;
    left:50%;
    bottom: 50%;
    transform: translateX(-50%) rotate(90deg);  
    transform-origin: bottom;
    border-radius: 50px;
}
 
.hrs{
    height:30%;
    width: 9px;
}
 
.mins{
    width:6px;
    height: 38%;
}
 
.secs{
    width: 3px;
    height: 40%;
}
 
.number{
    font-size: 30px;
    color: white;
}
 
.twelve{
    position: absolute;
    top:1%;
    left:44%;
}
 
.six{
    position: absolute;
    top:88%;
    left:47%;
}
 
.three{
    position: absolute;
    top:44%;
    left:94%;
}
 
.nine{
    position: absolute;
    top:44%;
    left:1%;
}
 
.one{
    position: absolute;
    top:7%;
    left:70%;
}
 
.two{
    position: absolute;
    top:25%;
    left:87%;
}
 
.four{
    position: absolute;
    top:65%;
    left:88%;
}
 
.five{
    position: absolute;
    top:83%;
    left:69%;
}
 
.seven{
    position: absolute;
    top:83%;
    left:25%;
}
.eight{
    position: absolute;
    top:65%;
    left:7%;
}
.eleven{
    position: absolute;
    top:8%;
    left:23%;
}
.ten{
    position: absolute;
    top:25%;
    left:7%;
}
